<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="vendor/bootstrap/docs/assets/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/docs/assets/js/google-code-prettify/prettify.css">
    <link rel='stylesheet' href="vendor/font-awesome/css/font-awesome.min.css">
    <% if (devMode === 'development') { %>
      <link rel='stylesheet' href='styles/app.min.css?modified_time=<%= (new Date()).getTime() %>' />
    <% }else{ %> 
      <link rel='stylesheet' href='styles/app.min.css?v=<%= appVersion %>' />
    <% } %>
    <script src="vendor/modernizr/modernizr.js"></script>
  </head>
  <body> 	
    <% if (devMode === 'development') { %>
      <script src="vendor/requirejs/require.js"></script>  
      <script type="text/javascript">
          require(['js/require-config'], function (config) {
              require(['app']);
          });
      </script>
      <script src="http://localhost:35729/livereload.js"></script>
    <% }else{ %> 
      <script src="js/app.min.js?v=<%= appVersion %>"></script>
    <% } %>
  </body>
</html>


