<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
	<script src="vendor/requirejs/require.js" data-main="js/main"></script>	
  </head>
  <body>

  	<div id="top"></div>  	
  	<div id="content"></div>
	
  </body>
</html>


