<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/app-dev.min.css' />
	  <script src="vendor/requirejs/require.js" data-main="js/main"></script>	
  </head>
  <body>

  	<div id="top"></div>  	
  	<div id="content"></div>
	
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>


