<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="vendor/bootstrap/docs/assets/css/bootstrap.css">
      <script>
      function close_window(){
        window.close();
      }
      </script>
  </head>
  <body>  
    <div class="hero-unit">
    <h3>Thank you for allowing integration with Evernote.</h3>
    <p>In order to save the GIST in your Evernote, <b>Close this window and Click Evernote button.</b></p>
    <p>You do not have to authencate again.</p>
    <center style="margin-top:60px;"><a class="btn btn-large btn-block btn-primary" href="javascript:close_window();">Close</a></center>
    </div>
  </body>
</html>


