<div class="friends-item" >
  <div class="span5 left">
  	<img src="{{avatar_url}}" />
    <div class="bottom">
      <div class="following-number">following: {{following}},&nbsp;&nbsp;&nbsp;followers: {{followers}}</div>
      <div class="public-gists">public gists: {{public_gists}}</div>
      <div class="blog"><a href="{{blog}}" target="_blank">{{blog}}</a></div>
    </div>
  </div>
  <div class="span7 right"> 
    <i class="icon-remove minus" rel="tooltip" original-title="Remove from the Watching List"></i>   
    <i class="icon-plus plus" rel="tooltip" original-title="Add to the Watching List"></i>   
    <div class="detail">    
      <div class="name">{{name}}</div>
      <div class="login">{{login}}</div>      
      <div class="profile"><a class="btn-profile" href="{{html_url}}" target="_blank"><i class="icon icon-github-alt"></i>Profile</a><a class="btn-follow" href="#"><i class="icon icon-user"></i>Follow</a></div>             
    </div>    
  </div>        
</div>