<div class="friends-item" data-login="{{login}}">
  <div class="span5 left">
  	<img src="{{avatar_url}}" />
    <!-- <div class="profile"><i class="icon icon-github-alt"></i><a href="{{html_url}}" target="_blank">Profile</a></div> --> 
  </div>
  <div class="span7 right"> 
    <i class="icon-remove minus" rel="tooltip" original-title="Remove from the Watching List"></i>   
    <!-- <i class="icon-plus plus" rel="tooltip" original-title="Add to the Watching List"></i> -->   
    <div class="detail">    
      <div class="name">{{name}}</div>
      <div class="login">{{login}}</div>     
      <div class="profile"><a class="btn-profile" href="{{html_url}}" target="_blank"><i class="icon icon-github-alt"></i>Profile</a></div>  
      <!-- <div class="following-number">following: {{following}}</div>
      <div class="followers-number">followers: {{followers}}</div> -->
    </div>    
  </div>        
</div>