<div class="friends-item" >
  <div class="span5 left">
  	<img src="{{avatar_url}}" />
    <div class="bottom">
      <div class="blog"><a href="http://wekeroad.com" target="_blank">http://wekeroad.com</a></div>
      <div class="following-number">following: 20,&nbsp;&nbsp;&nbsp;followers: 5000</div>
      <!-- <div class="followers-number">followers: 15</div> -->
      <div class="public-gists">public gists: 100</div>
    </div>
  </div>
  <div class="span7 right"> 
    <i class="icon-remove minus" rel="tooltip" original-title="Remove from the Watching List"></i>   
    <i class="icon-plus plus" rel="tooltip" original-title="Add to the Watching List"></i>   
    <div class="detail">    
      <div class="name">{{id}}</div>
      <div class="login">{{login}}</div>      
      <div class="profile"><a class="btn-profile" href="https://github.com/wycats" target="_blank"><i class="icon icon-github-alt"></i>Profile</a><a class="btn-follow" href="#"><i class="icon icon-user"></i>Follow</a></div>             
    </div>    
  </div>        
</div>