/* footer */
footer {	
	// background-color: #233641;//lighten(#1b1b1b, 3%);
	background-color: lighten(#1b1b1b, 1%);
	// background-color: darken(#f5f5f5, 1%);
	// background-image: linear-gradient(to bottom, darken(#fff, 10%), lighten(#f5f5f5, 10%));
	// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=darken(#fff, 10%), endColorstr=lighten(#f5f5f5, 10%), GradientType=0);
	// background-repeat: repeat-x;
	// border-bottom: solid 1px #fff;
	border-top: solid 3px #d8d8d8;//darken(#eee, 20%);
	.command-buttons {
		margin-top:10px;
		text-align: center;
	}

	.btn-command-wrapper {
		cursor:pointer;
		width:60px !important;
		display:inline-block;
		position:relative;
		&:hover .icon-circle {
			color:lighten(#000, 70%);
		}
		.btn-command{
			font-size:20px;			
		}
		.lbl-command{
			color:#fff;
			// color:#000;
			font-size:11px;
			margin-top:-2px;
		}	
		.starred-success{
			position:absolute;
			top:-20px;
			left:-40px;
			font-size: 13px;
			line-height: 30px;
			z-index: 1;
			padding:2px 10px;
			opacity:0;
			transition: top 0.5s ease-in, opacity 0.5s ease-out ;	
			-webkit-transition: top 0.5s ease-in, opacity 0.5s ease-out ;	
		}

		.starred-success-show{
			opacity:1;
			top:-45px;
		}

		.starred-success-hide{
			opacity:0;
			top:-20px;
		}	
	}

	button.btn-search{
		border: 2px solid gray !important;
	}

	.comments-badge {
		position:absolute;
		left:37px;
		top:-5px;
		border-radius:0;
		-webkit-border-radius:0;
	}

	.popover {
		// z-index: 300;
		.popover-title{
			color:black;
		}
		.popover-content{
			padding: 0;

		}

		.tag-popup, .share-popup{						
			ul {
				list-style: none;
				margin:0;
			}

			li {
				position: relative;
				height: 20px;
				border-bottom: 1px solid #eee;
				padding:10px 20px 5px 20px;
				
				&.tag-input {
					height: 30px;
					padding: 5px 20px;
					input[type=text] {
						height: 20px;
					}
				}

				&:hover {
					font-weight: bold;	
				}

				.icon-holder{
					display:inline-block;
					width:5px;
					i{
						&.icon-ok{
							font-size: 10px;
						}
					}
				}

				.share-icon-holder{
					display:inline-block;
					width:5px;
					margin-right:5px;
					i{
						font-size: 13px;
					}
				}
				
				a {
					margin-left:5px;
					color: black;
					font-size:12px !important;
				}

				.btn-del-tag {
					position:absolute;
					top:12px;
					right:10px;
					display:none;
					cursor: pointer;
				}	
			}
		}

		.share-popup {
			width:150px;
		}
	}
}

.hide-comments-badge{
	opacity:0.0;	
}

.show-comments-badge{
	opacity:1;
}

.tag-saved-msg{
	color: #008641;
	font-weight:bold;
	font-size: 15px;
}


