.create-gist-container{
	width: 980px;
	margin: 10px auto;
	.gists-description-container{
		min-height:60px;
		margin:20px auto;
	}
	.gists-description{
		width: 980px;
		resize: vertical;
	}
	.item{
		padding-bottom : 10px;
	}

	.file{
		width: 980px;
		margin:0 auto;
		border:1px solid #d9d9d9;
		background-color:#d9d9d9;
		.meta{
			background-color:#fafafa;
			padding:6px;
		}
		.file-name{
			display:inline-block;

		}
		.ace-editor{
			width: :100%;
			height: 100px;
		}
	}
}