/* gist summary list */

.gist-item-container {
	// margin-right: 10px;

	.row-fluid {
		// margin-bottom: 20px;
		border-bottom: solid 1px #eee;
		padding:5px 0;
		&.selected {
			// background-color: #008641 !important;
			background-color: #54abc3 !important;
			color:#fff;
			.social i, .social a {
				color:#fff !important;
			}		
		}
		&:hover{
			background-color: #eee;
		}
	}
}

/*.selected {
	background-color: #008641 !important;
	color:#fff;
	.social i, .social a {
		color:#fff !important;
	}		
}*/

.gist-item {
	cursor:pointer;
	// border:solid 2px #eee;
	margin-bottom:15px;
	height: 100%;
	position:relative;
	/*&.selected {
		background-color: #008641 !important;
		color:#fff;
		.social i, .social a {
			color:#fff !important;
		}		
	}*/
	img { 
		// border: solid 1px #333;
		width:60px !important;
		height:64px !important;
		max-width:60px !important;
		margin:5px 0px 5px 5px;
		border-radius:3px;
	}
	.detail {
		margin-left:5px;
		padding-top:3px;
		.title {
			height:20px;
			font-size:11px;
			font-weight:500;
			text-overflow:ellipsis;
			overflow: hidden;
			word-break: break-all;
		}
		.subtitle {
			font-size: 11px !important;
			height:20px;
			.social{
				margin-right:7px;
			}
		}
		p{
			font-size:12px;
			// height:55px;
			max-height:85px;
			text-overflow:ellipsis;
			overflow:hidden;
			font-weight: bold;

		    /*display: -webkit-box;
		    -webkit-line-clamp: 3;
		    -webkit-box-orient: vertical;*/
		}
		.social a{
			color: #008641;
			font-weight:400;
		}		
		.tags {
			font-size:10px;		
			word-break: break-all;
			line-height: 12px;
			margin-bottom:5px;
		}	

	}

	.is-starred{
		position:absolute;
		top:3px;
		right:5px;
		color:#da4f49;
		z-index: 10;
		font-size:13px;
	}

	.follow-user{
		display:none;
		font-size:11px;
		line-height: 15px;
		padding:2px 0px;
		margin:0 0 5px 6px;
		width:60px;
		text-align: center;
	}
}


/* files-wrapper */

.files {
	margin-left: 5px;
	margin-right: 5px;
	// margin-top:5px;
	.prettyprint{
		// border:0;
		// border-top:1px solid #eee;
	}
}

.pivot-headers {
	margin:10px 0 15px 10px;
	a {
		margin-right: 15px;
		color:#555;
		font-size:16px;
		font-weight: 300;
		&.active{
			// border-bottom: solid 3px #008641;
			border-bottom: solid 3px #54abc3;
			font-weight: bold;		
		}
		&:hover{
			text-decoration: none !important;
			// font-weight: 600;	
			color:#222;
		}
	}
}

pre {
	// background-color: #fff !important;
	font-size: 12px !important;
	// change line number font besides codes
	ol {
		// font-family: "Source Code Pro", "Open Sans", Arial, Helvetica, Sans-Serif;
		li {
			line-height: 17px !important;	
		}
		span {
			// font-family: "Source Code Pro", Menlo, Monaco, Consolas, 'Courier New', monospace;
		}
	}
}

.code-fonts{
	ol {
		font-family: "Source Code Pro", "Open Sans", Arial, Helvetica, Sans-Serif;
		li {
			line-height: 17px !important;	
		}
		span {
			font-family: "Source Code Pro", Menlo, Monaco, Consolas, 'Courier New', monospace;
		}
	}		
}



/* comments */
.comments-wrapper {
	border: solid 1px #eee;
	// padding-top:5px;
	.comments{
		// margin-top:8px;
		.comment{
			min-height:50px;
			position:relative;
			border-bottom:solid 1px #eee;
			padding-top:6px;
			// top:0;
			&:hover{
				background-color: lighten(#eee, 1%);
			}
			.commenter-photo{
				min-height:50px;
				width:50px;
				position:absolute;
				top:5px;
				bottom:0;
				left:0;
				padding:5px 0 0 5px;
			}
			.comment-content{
				margin-left:50px;
				overflow:hidden;
				padding-right:5px;
				font-size:12px;
				word-wrap:break-word;
				.commenter{
					font-weight: 600;
				}				
			}
			.comment-edit{
				display: none;
			}
			.comment-input-wrapper{
				position:absolute;
				top:0;
				left:50px;
				right:0;
				padding-top:5px;
				padding-right:20px;
				textarea {
					overflow: hidden;
					border-width:1px !important;
					font-size:13px !important;
				}
			}	

			img{
				border-radius:3px;
			}

			.btn-del-comment {
				position:absolute;
				top:5px;
				right:10px;
				display:none;
				cursor: pointer;
			}			
		}

		.comment-input{
			border:0px;
		}
	}
}





