@top-height: 50px;
@gist-list-width: 300px;
// @files-wrapper-width: 50%;
@comments-wrapper-width: 300px;
@footer-height: 70px;
@friends-list-width: 170px;

/* layout */
body {
	overflow: hidden;	
	position:absolute !important;
	top:0;left:0;bottom:0;right:0;	
	// font-family: 'Oxygen', sans-serif !important;
	// font-family: 'Source Code Pro', sans-serif !important;
}

header {
	position: absolute;
	top:0;
	height:@top-height;
	left:0;
	right:0;
	min-width:1013px;
}

#main {
	position: absolute;
	top:@top-height + 1px;
	bottom:0;
	left:0px;
	right:0;	
	// max-width:1024px;
	// margin:0 auto 0 auto;
	background-color: white;	

	.main-content {
		position: absolute;
		top:0px;
		bottom:@footer-height;
		left:0;
		right:0;	

		.friends-item-list {
			display:none;
			position: absolute;
			top:0px;
			bottom:0px;
			left:0;
			width:@friends-list-width;
			overflow-x: hidden;
			overflow-y:auto;
			border-right:1px solid darken(#eee, 20%);			
		}	

		.friends-search-container {
			position: absolute;
			top:0px;
			bottom:0px;
			left:@friends-list-width + 1px;
			right:0;
			background-color: white;
			overflow-y:auto;			
		}

		.gist-list {
			position: absolute;
			top:0px;
			bottom:0px;
			left:0px;
			width:@gist-list-width;
			overflow-y:auto;
			border:1px solid darken(#eee, 20%);
		}

		.files-wrapper {
			position: absolute;
			top:0px;
			bottom:0px;
			left:@gist-list-width + 5px;
			right:@comments-wrapper-width;
			background-color: white;
			overflow-y:auto;
			transition: right 0.3s ease-out;
			-webkit-transition: right 0.3s ease-out;
		}

		.comments-wrapper {
			position: fixed;	// if the position is absolute, it is scrollable in mobile browser.
			top:@top-height;
			bottom:@footer-height;
			right:0px;//-@comments-wrapper-width;
			// padding-top:-40px;
			width:@comments-wrapper-width;
			overflow-y:auto;
			overflow-x:hidden;
			transition: right 0.3s ease-out;	
			-webkit-transition: right 0.3s ease-out;			

			/*position: absolute;
			top:0px;
			bottom:0px;
			left:100%;
			margin-left:0;
			width:@comments-wrapper-width;
			overflow-y:auto;
			overflow-x:hidden;
			transition: right 0.3s ease-out;	
			-webkit-transition: right 0.3s ease-out;			*/
		}

		.chat-list {
			position: absolute;
			top:0px;
			bottom:0px;
			left:0;
			width:@gist-list-width;
			overflow-y:auto;
			// border-right:solid 1px #eee;
			// padding-top:10px;
			border-right:1px solid darken(#eee, 20%);
		}

		.chat-wrapper {
			position: absolute;
			top:0px;
			bottom:0px;
			left:@gist-list-width+1px;
			right:10px;
			overflow-y:auto;
			overflow-x:hidden;
			transition: right 0.3s ease-out;	
			-webkit-transition: right 0.3s ease-out;			

			/*position: absolute;
			top:0px;
			bottom:0px;
			left:100%;
			margin-left:0;
			width:@comments-wrapper-width;
			overflow-y:auto;
			overflow-x:hidden;
			transition: right 0.3s ease-out;	
			-webkit-transition: right 0.3s ease-out;			*/
		}
	}
}

footer {
	position: absolute;
	bottom:0;
	height:@footer-height;
	background-color: blue;
	left:0;
	right:0;
	z-index: 9004;	// higher than charms
}
