body {
  padding: 50px;
  font: 20px;
}
a {
  color: #00B7FF;
}
li {
  line-height: 50px;
  font-size: 30px;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  border-bottom: solid 1px;
  line-height: 70px;
}
#top button {
  margin: auto 20px;
  width: 150px;
  height: 40px;
  font-size: 15px;
}
#content {
  position: absolute;
  top: 71px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: #eee;
}
