/* header */
header {
	font-size:14px;

	.logo {
		width:18px;
		height:15px;
		color:gray;
		margin-right:3px;
	}

	.brand {
		font-weight: normal !important;
		font-size:16px !important;
		color: #fff !important;
		text-shadow: none !important;
		padding:15px 20px 10px !important;
	}
	
	.nav {
		> li.active > a {
			background-color: lighten(#64a4d1, 0%) !important;
			border-left: solid 1px #70abd5;
			border-right: solid 1px #70abd5;
		}
		> li > a {
			height:25px !important;		
			padding:15px 10px 10px !important;
			color: #fff !important;
			font-weight: normal;
			text-shadow: none !important;
		}
		li.dropdown.open > .dropdown-toggle,
		li.dropdown.active > .dropdown-toggle,
		li.dropdown.open.active > .dropdown-toggle{
			background-color: #62a8d1 !important;
		}
		.dropdown-menu {
			border-width:1px !important;
			margin-top:3px;
			z-index:9004; // higher than scrollbar
			li a {
				min-width: 150px;
				height:20px !important;		
				padding:5px 20px 5px 20px;
			}
			.badge {
				margin-left:20px;
			}
		}
		&.pull-right > li > a.gravatar-img{
			padding:0px 0px 20px 0px !important;
			img {
				height:50px !important;
			}
		}	
		b{
			border-top-color: #fff !important;
			border-bottom-color: #fff !important;
		}	

		.profile{
			li a {
				min-width:220px;
			}

			.shortcut-desc {
				font-size:12px;
			}
		}
	}	
	
	.divider-vertical{
		margin:0 !important;
	}	

	.divider {
		margin:0px 0 !important;		
	}

	.navbar-inner {
		box-shadow:0 0 0 !important;
		-webkit-box-shadow: 0 0 0  !important;
		#gradient > .vertical(lighten(#3c80a6,6%), lighten(#3c80a6,3%));
	}

	&.navbar-inverse .divider-vertical {
	  border-right-color: #333;
	  border-left-color: #222;
	}

	.facebook-like{
	    margin-top:15px; 
	    margin-right:10px;
	}
}
