/* header */
header {
	font-size:85%;

	.logo {
		width:18px;
		height:15px;
		color:gray;
		margin-right:3px;
	}

	.brand {
		// font-weight: 700 !important;
		font-weight: normal !important;
		font-size:16px !important;
		// color: darken(#777, 10%) !important;
		color: #fff !important;
		text-shadow: none !important;
	}
	
	.nav {
		> li.active a{
			background-color: lighten(#64a4d1, 3%) !important;
		}
		> li > a {
			height:20px !important;		
			padding:10px 12px 10px !important;
			// color: darken(#777, 10%) !important;
			color: #fff !important;
			font-weight: normal;
			text-shadow: none !important;
		}
		li.dropdown.open > .dropdown-toggle,
		li.dropdown.active > .dropdown-toggle,
		li.dropdown.open.active > .dropdown-toggle{
			background-color: #62a8d1 !important;
		}
		.dropdown-menu {
			border-width:1px !important;
			margin-top:3px;
			z-index:9004; // higher than scrollbar
			li a {
				min-width: 150px;
				height:20px !important;		
				padding:5px 20px 5px 20px;
			}
			.badge {
				margin-left:20px;
			}
			&.shortcuts li a{
				min-width: 250px;
			}
			&.shortcuts .pull-left {
				font-weight: bold;
			}
		}
		&.pull-right > li > a.gravatar-img{
			padding:0px 0px 20px 0px !important;
			img {
				height:40px !important;
			}
		}	
		b{
			border-top-color: #fff !important;
			border-bottom-color: #fff !important;
		}	
	}	
	
	.divider-vertical{
		margin:0 !important;
	}	

	.divider {
		margin:0px 0 !important;		
	}

	.navbar-inner {
		// background-color:lighten(#1b1b1b, 3%) !important;

		box-shadow:0 0 0 !important;
		-webkit-box-shadow: 0 0 0  !important;
		// background-color:#fafafa !important;
		// background-image: linear-gradient(to bottom, #fff, darken(#fff, 2%));

		background: lighten(#3c80a6,15%) !important;  //#233641

	}

	&.navbar-inverse .divider-vertical {
	  border-right-color: #333;
	  border-left-color: #222;
	}
}
