@main-bg-color:#233641;
@features-color:#2ab0ac;
@demo-bg-color:#e6e9f2;

@sign-btn-color:#2ab0ac;
@title-color:#4f595f;

@icon-box-color:#4a4a4a;
 


//Common -------------------------------------

html{
     // height: 100%;
     overflow-x:hidden;
}

body{
     background-color: white;
   // height: 100%;
     font-family:  "Arial";
     overflow-x:hidden;
     // overflow-y:visible;  
}


.font-title{
     color: @title-color ;
     font-size: 70px;
     font-weight: bold; 
     margin-left:10px; 
}

 
// contnets ----------------------------------

 .sec-main{ 
     background-color: @main-bg-color;
     height:540px;
 }

  .sec-features{ 
     background-color: white;
     height: 800px;
 }

   .sec-sec3{
 	// width: 100%;
     background-color: @features-color;
     height: 200px;
 }

 #sec-demo{
 	//width: 100%;
 	background-color: @demo-bg-color;
 	height: 900px;	
 }

.sec-contact{

	//width: 100%;
 	background-color:  @main-bg-color;
 	height: 400px;		
}


.sec-bottom{

	//width: 100%;
 	background-color:  black;
 	height: 200px;		
}

.sec-copyright{
     background-color:  black;
     height: 50px;      
}


//Features ------------------------------------

.font-features{ 
	margin-top:100px;
	margin-bottom:70px;
}

.hr-features{
	
     margin-left:-100px;
     margin-top:110px; 
     border-top:1px solid @title-color; 
}

.common-icon-box{
	width:130px; 
	height:130px;
	margin-left: -30px; 
	background-color: @icon-box-color;
	color:white; 
 
}

.common-icon-box-comments{   
	color:@icon-box-color;
	height:100px;
	font-family: arial;
	font-size: 20px; 
	display: table;
	margin-right: 30px;
	line-height: 25px;

	> div {
		display: table-cell;
		vertical-align: middle;
	}
}


.features-icon{ 
	padding-top:10px;  
}

 

.common-icon-box-row-blank{
	height:40px; 
}

.common-icon-box-font{
	font-size :20px;
	margin-top:10px;
}



.icon-box-blank{
	// width:20px;
	margin-right: 5px;
	font-family: arial;

}


//point ---------------------------------------
.img-point{
	margin: 30px;
	height:120px;
	width: 150px;
}


.font-point{
	padding-top: 90px;
	padding-left: 50px;
	padding-bottom :50px;
	font-size: 100px;
	font-weight:bold;
	color:white;
}


//Demo---------------------------------------

.hr-demo{
	  
     margin-top:110px; 
     border-bottom:1px solid @title-color; 
     border-top: 0.5px solid @title-color;
}


//contact -------------------------------------



.font-connect-title{
	color:white;
	margin-top:100px;
	margin-bottom:70px;  
} 
 
.font-connect{
	color:white;
	 
}


.hr-contact{	  
	 margin-left:100px;
     margin-top:110px; 
     border-bottom:1px solid white; 
     border-top: 0.5px solid white;
}

.font-icon-connect{ 
	color:white;
	font-size : 50px; 
	font-family:arial ; 
	font-weight:bold;
}

 



.font-twitter{ 
color:white;
	font-size : 50px; 
	font-family:arial ; 
	font-weight:bold;
	margin-left:-30px; 
}


 .font-twitter-circle{
 color:#0586cd;
 }

.span-twitter{

     cursor: pointer;

     &:hover .font-twitter-circle{
          color:lighten(#0586cd, 10%); 
     }
     
}



.font-facebook{ 
	margin-left:-20px; 
}



 .font-facebook-circle{
 color:#375085;
 }

.span-facebook {
     cursor: pointer;

     &:hover .font-facebook-circle{
          color:lighten(#375085, 10%); 
     }
}


 

.font-google{
     margin-left: -10px;
}
.font-google-circle{
     color:#dd4b39;
}


.span-google{
     cursor: pointer;
     &:hover .font-google-circle{
               color:lighten(#dd4b39, 10%);
     }
}
 
.font-linkedin-circle{
     color:#127eb4;
}

.font-linkedin{

     margin-left: -10px;

}
.span-linkedin{
     cursor: pointer;

     &:hover .font-linkedin-circle{
          color: lighten(#127eb4, 10%); 
     }
}


.copyright{  
     color:white;
}
 
 

//main -----------------------------------------


.img-logo{
     position: relative ;
     left: -400px;
     top:120px;
     height:50px; 
}

.main-font{
     position: relative;
     top:90px;
     color: white ;
     font-size: 40px;
}

.main-font2{
     position: relative;
     top:140px;
     left:-10px;
     color: white ;
     font-size: 55px;
}
.main-font3{
     position: relative;
     top:162px;
     left:190px;
     color: white ;
     font-size: 38px;

}
.main-font4{
     position: relative;
     top:220px;
     left:180px;
     color: white ;
     font-size:20px; 
}

.font4{
     color:white;
}
.sign-in{
     position: relative ;
     top:220px;
     right:130px;
     color:white;
     font-size:30px;
     background-color: @sign-btn-color ;
     padding: 20px;
     border-radius:5px;
} 
a:hover{
     text-decoration: none;
     color:white;
}


.main-alert{
     position: relative;
     top:230px;
     left:-20px;
     color: lighten(red, 30%);
     font-size: 15px;
     display:none;
}

.main-ie{
     position: relative;
     top:250px;
     left:-20px;
     color: red ;
     font-size: 20px;
}
