@power-bg-color:#233641;
@light-bg-color:#dda125;
@bag-bg-color:#dc6f84;
@person-bg-color:#008993;

@content-height:100%;

@menu-ico-size:70px;
@menu-size:80px;

 
html{
	height: 100%; 
}
body{
	background-color: white;
	height: 100%;
	font-family:  "Alial";
	overflow-x:hidden; 
	overflow-y:visible;   
}

.power-font{ 
	position: relative;
	top:150px;
	left:-70px;
 	color: white ;
 	font-size: 30px;
 	
}
.power-font2{ 
	position: relative;
	top:190px;
	left:-100px;
 	color: white ;
 	font-size: 50px; 
}
.power-font3{ 
	position: relative;
	top:162px;
	left:190px;
 	color: white ;
 	font-size: 30px; 

}
.power-font4{ 
	position: relative;
	top:200px;
	left:140px;
 	color: white ;
 	font-size: 15px; 

}
.sign-in{
	position: relative ;
	height: 55px;
	width: 270px; 
	top:230px;
	right:130px;
	color:white;
	font-size:30px;
	padding-top: 30px;
	background-color: black ;
	margin-right: 100px;

}
.sign-in:hover{

	background-color: #1c2b34; 
	 
};

a:hover{
	text-decoration: none;
};


//Person------------------------------
.person-font{ 
	padding-left:110px; 
	padding-top :170px; 
	color:white;
	font-size: 70px;  
	}

.person-font1{ 
	margin-top:50px; 
	margin-left:110px; 
	padding-top :30px;  
	padding-left:30px;  
	color:white;
	background-color:black;
	font-size: 40px;  
	width:230px;
	height:60px; 
	}

.person-font2{  
	margin-left:110px; 
	padding-top :10px;  
	padding-left:15px;  
	color:white;
	background-color:#fa7c7d;
	font-size: 20px;  
	width:160px;
	height:25px; 
	}

.person-text-background{
	background-color:#fca8a9; 
	margin-top:-100px; 
	margin-left:400px; 
	padding-top:20px;
	padding-left:20px; 
	width:50%; 
	height:300px; 

	}

.person-message{
	background-color:white; 
	//margin-left :10px;  
	//margin-right:20px;  
	border-style: solid; 
	border-color :@person-bg-color; 
	border-width : 1px;  
	width: 95%;  
}
 
.person-email{ 
	background-color:white; 
 	border-style: solid; 
	border-color :@person-bg-color; 
	border-width : 1px; 
	width: 95%; 
}
.person-name{ 
	background-color:white;  
	border-style: solid; 
	border-color :@person-bg-color; 
	border-width : 1px; 
	width:67% !important; 
}
//-------------------------------------------
.contents{
	background-color: red;
	height: 100%;
	overflow-x:hidden;
}


.headers {
	position : fixed;
	top : 0px;
	left:0px;
	width : 100px;
	height: 100px; 
	// background-color: black ;

}


// contnets ----------------------------------
#div-power{ 
	width: 100%; 
	background-color: @power-bg-color;
	height: @content-height;
}
#div-light{ 
	width: 100%; 
	background-color: @light-bg-color;
	height: @content-height;
}
#div-bag{ 
	width: 100%; 
	background-color: @bag-bg-color;
	height: @content-height;
}

#div-person{ 
	width: 100%; 
	background-color: @person-bg-color;
	height: @content-height;
}

//----------------------------------------------

.img-logo{
	position: absolute;
	top:20px;
	left:10px;
	height: 52px;
	width: 60px;
}
.logo-font{
	position: absolute;
	top:45px;
	left: 80px;
	height: 200px;
	font-size: 35px;
	font-weight: bold;
	color: white; 
}

.img-logo-center{
	position: relative ;
	margin-right: 100px;
	top:120px;
}

//images for menu -----------------------

.menu{
	position : fixed;
	top : 0px;
	right :0px;
	bottom : 0px;
	width: @menu-size;  
}

.menu-main{
	position: absolute;
	top:50%;
	width: @menu-size;
	margin-top:  @menu-ico-size * -2;
}

.menu-top{
	position: absolute;
	top:0px; 
	width: @menu-size;
	height: 100%;
	opacity: 0.2;
	background-color: white;

} 
.img-power{
	position: absolute;
	top:0px;
	height: 52px;
	width: 60px; 
	margin-left:10px;
	margin-top:10px; 
	// background-color: @power-bg-color;  
}

.menu-power{ 
	height: @menu-size;
	width: @menu-size;   
	background-color: @power-bg-color;  
}

.img-light{ 	margin-left:10px;
	margin-top:10px; 
}

.menu-light{
	height: @menu-size;
	width: @menu-size;   
	top:@menu-size; 
	background-color: @light-bg-color; 
}

.img-bag{  
	margin-left:10px;
	margin-top:10px; 
}


.menu-bag{
	position: absolute;
	top:@menu-size * 2;
	height: @menu-size;
	width: @menu-size;  
	background-color: @bag-bg-color; 
}
.img-person{  

	height: 60px;
	width: 60px; 

	margin-left:10px;
	margin-top:10px; 

}
 
 .menu-person{
	position: absolute;
	top:@menu-size * 3;
	height: @menu-size;
	width: @menu-size;  
	background-color: @person-bg-color; 
}

	
//----------------------------------------
