@power-bg-color:#233641;
@features-bg-color:#dda125;
@video-bg-color:#dc6f84;
@person-bg-color:#008993;

@content-height:100%;

@menu-ico-size:70px;
@menu-size:80px;

@features-box-width:250px;
@features-box-height:300px;

 
html{
	height: 100%; 
	// overflow-x:hidden;
}

body{
	background-color: white;
	height: 100%;
	font-family:  "Alial";
	overflow-x:hidden; 
	// overflow-y:visible;   
}

.contents{
	background-color: red;
	height: 100%;
	// overflow-x:hidden;
}

.power-font{ 
	position: relative;
	top:150px;
	left:-40px;
 	color: white ;
 	font-size: 30px;
 	
}
.power-font2{ 
	position: relative;
	top:190px;
	left:-40px;
 	color: white ;
 	font-size: 50px; 
}
.power-font3{ 
	position: relative;
	top:162px;
	left:190px;
 	color: white ;
 	font-size: 30px; 

}
.power-font4{ 
	position: relative;
	top:200px;
	left:140px;
 	color: white ;
 	font-size: 15px; 

}
.sign-in{
	position: relative ;
	height: 55px;
	width: 320px; 
	top:230px;
	right:130px;
	color:white;
	font-size:30px;
	padding-top: 30px;
	background-color: black ;
	margin-right: 100px;

}
.sign-in:hover{

	background-color: #1c2b34; 
	 
};

a:hover{
	text-decoration: none;
};


//feature=============================
.features1{     	
	position: absolute; 
	top:50%; 
	margin-top: (@features-box-height - 30px )* -1 ; 
	height: @features-box-height;   }

.features2{   
	position: absolute; 
	top:50%; 
	margin-top : 35px;
	height: @features-box-height;  }

.features-friends{ 
  	background-color: #d29429;
  	margin-left:200px;
	width: @features-box-width ;
	height: 100%;

}

.features-tagging{

	margin-top: (@features-box-height)* -1 ;
	background-color: #d29429;
	margin-left:@features-box-width + 300px;
  	width: @features-box-width ; 
	height: 100%;
}


.features-alert{
	position: :absolute;
	margin-top: (@features-box-height)* -1 ;
	background-color: #d29429;
	margin-left: (@features-box-width * 2 )+ 400px;
  	width: @features-box-width ; 
	height: 100%;
}


.features-box{
	position: absolute;
	width:  @features-box-width;
	height: 80px;
	bottom: 0px;
	background-color: black;
}

.features-box2{
	position: absolute;
	width:  @features-box-width;
	height: 80px;
	top: 0px;
	background-color: black;
}

.features-font{
	position: absolute;
	font-size: 30px;
	color:white;
	bottom: 0px;
	right: 10px;
}


.features-font2{
	position: absolute;
	font-size: 30px;
	color:white;
	top: 15px;
	right: 10px;
}

.features-image{
	position: relative;
	padding:10px;
	width:  @features-box-width - 20px; 
 
}


.features-images2{

	position: relative;
	padding:10px;
	width:  @features-box-width - 20px; 
	top:80px;
}
  
.features-contents-show{
	position: absolute;
	width:  @features-box-width - 10px;
	height: 80px;
	bottom: 79px;
	background-color: black;
	color:white;
	padding-top: 10px;
	padding-left: 10px;
	// display:block;
	opacity:0.8;
}

.features-contents-show2{
	position: absolute;
	width:  @features-box-width - 10px;
	height: 80px;
	top: 79px;
	background-color: black;
	color:white;
	padding-top: 10px;
	padding-left: 10px;
	// display:block;
	opacity:0.8;
}

.features-contents-hidden{
	// display: none;
	opacity:0;
	//height:0;
}

.features-contents{
	// transition: all 0.5s ease-in ;	
	// -webkit-transition: all 0.5s ease-in ;	
}
 

#features-opensource, #features-opensource-contents{
	z-index: 100;
}





//Person------------------------------
.person-font{ 
	padding-left:110px; 
	padding-top :170px; 
	color:white;
	font-size: 70px;  
	}

.person-font1{ 
	margin-top:50px; 
	margin-left:110px; 
	padding-top :30px;  
	padding-left:30px;  
	color:white;
	background-color:black;
	font-size: 40px;  
	width:230px;
	height:60px; 
	}

.person-font2{  
	margin-left:110px; 
	padding-top :10px;  
	padding-left:15px;  
	color:white;
	background-color:#fa7c7d;
	font-size: 20px;  
	width:160px;
	height:25px; 
	}

.person-text-background{
	background-color:#fca8a9; 
	margin-top:-100px; 
	margin-left:400px; 
	padding-top:20px;
	padding-left:20px; 
	width:50%; 
	height:300px; 

	}

.person-message{
	background-color:white; 
	//margin-left :10px;  
	//margin-right:20px;  
	border-style: solid; 
	border-color :@person-bg-color; 
	border-width : 1px;  
	width: 95%;  
}
 
.person-email{ 
	background-color:white; 
 	border-style: solid; 
	border-color :@person-bg-color; 
	border-width : 1px; 
	width: 95%; 
}
.person-name{ 
	background-color:white;  
	border-style: solid; 
	border-color :@person-bg-color; 
	border-width : 1px; 
	width:67% !important; 
}
//-------------------------------------------



.headers {
	position : fixed;
	top : 0px;
	left:0px;
	width : 100px;
	height: 100px; 
	// background-color: black ;

}


// contnets ----------------------------------
#div-power{ 
	width: 100%; 
	background-color: @power-bg-color;
	height: @content-height;
}
#div-features{ 
	position: relative;
	width: 100%; 
	background-color: @features-bg-color;
	height: @content-height;
}
#div-video{ 
	width: 100%; 
	background-color: @video-bg-color;
	height: @content-height;
}

#div-person{ 
	width: 100%; 
	background-color: @person-bg-color;
	height: @content-height;
}

//----------------------------------------------

.img-logo{
	position: absolute;
	top:20px;
	left:10px;
	height: 52px;
	width: 60px;
}
.logo-font{
	position: absolute;
	top:45px;
	left: 80px;
	height: 200px;
	font-size: 35px;
	font-weight: bold;
	color: white; 
}

.img-logo-center{
	position: relative ;
	margin-right: 100px;
	top:120px;
}

//images for menu -----------------------

.menu{
	position : fixed;
	top : 0px;
	right :0px;
	bottom : 0px;
	width: @menu-size;  
}

.menu-main{
	position: absolute;
	top:50%;
	width: @menu-size;
	margin-top:  @menu-ico-size * -2;

	div {
		cursor:pointer;
	}
}

.menu-top{
	position: absolute;
	top:0px; 
	width: @menu-size;
	height: 100%;
	opacity: 0.2;
	background-color: white;

} 
.img-power{
	position: absolute;
	top:0px;
	height: 52px;
	width: 60px; 
	margin-left:10px;
	margin-top:10px; 
	// background-color: @power-bg-color;  
}

.menu-power{ 
	height: @menu-size;
	width: @menu-size;   
	background-color: @power-bg-color;  
}

.img-features{ 	margin-left:10px;
	margin-top:10px; 
}

.menu-features{
	height: @menu-size;
	width: @menu-size;   
	top:@menu-size; 
	background-color: @features-bg-color; 
}

.img-video{  
	margin-left:10px;
	margin-top:10px; 
}

#demo-player {
-webkit-box-shadow: 0px 4px 23px 2px darken(#c99ebe,20%);
-moz-box-shadow: 0px 4px 23px 2px darken(#c99ebe,20%);
box-shadow: 0px 4px 23px 2px darken(#c99ebe,20%);
}


.menu-video{
	position: absolute;
	top:@menu-size * 2;
	height: @menu-size;
	width: @menu-size;  
	background-color: @video-bg-color; 
}
.img-person{  

	height: 60px;
	width: 60px; 

	margin-left:10px;
	margin-top:10px; 

}
 
 .menu-person{
	position: absolute;
	top:@menu-size * 3;
	height: @menu-size;
	width: @menu-size;  
	background-color: @person-bg-color; 
}

	
//----------------------------------------
