<div class="chat-item">
  <div id={{id}} class="span3">
    {{#each room.users}}
        <img src={{avatar}} style="width:19px;height:19px;margin-top:2px;opacity:{{opacity}};" />
    {{/each}}
  </div>
  <div class="span9">
    <div class="detail">
      <div class="title">{{user.login}} / {{mainFileName files}}</div>
      <!-- <div class="subtitle">
        <span>{{fromNow updated_at}}</span>
      </div> -->
      <p class="chat-item-description">{{description}}</p>
    </div>
    {{{isViewing user}}}
  </div>
</div>