<div class="chat-item">
  <div class="span3">
    {{#each room}}
        <img src={{avatar}} style="width:19px;height:19px;margin-top:2px" />
    {{/each}}
  </div>
  <div class="span9">
    <div class="detail">
      <div class="title">{{user.login}} / {{mainFileName files}}</div>
      <!-- <div class="subtitle">
        <span>{{fromNow updated_at}}</span>
      </div> -->
      <p class="chat-item-description">{{description}}</p>
    </div>
    <button class="btn btn-danger file-content">View</button> 
  </div>
</div>