<div class="comment">
  <div class="commenter-photo">
    <img src="https://secure.gravatar.com/avatar/af19ab2bc64a6df17b1db58005424473?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&s=40"/>
  </div>  
  <div class="comment-content">
    <div class="commenter"><span class="commenter-name">Scott Hanselman</span> / shanselman</div>
    <div class="date-write">3 hours ago</div>
    <div class="comment-text">Hello Ray, what a great job! awesome, keep up the fire!!</div>
  </div>
</div>
<div class="comment">
  <div class="commenter-photo">
    <img src="https://secure.gravatar.com/avatar/ff2012dcfd9ec0c29df3d4c164cc0d14?s=400&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&s=40"/>
  </div>  
  <div class="comment-content">
    <div class="commenter"><span class="commenter-name">Scott Hanselman</span> / shanselman</div>
    <div class="date-write">3 hours ago</div>
    <div class="comment-text">Hello Ray, what a great job! awesome, keep up the fire!!</div>
  </div>
</div>
<div class="comment">
  <div class="commenter-photo">
    <img src="https://secure.gravatar.com/avatar/719c91f5c3013e43ee46ed2bdc67f883?s=420&d….akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&s=40"/>
  </div>  
  <div class="comment-content">
    <div class="commenter"><span class="commenter-name">Scott Hanselman</span> / shanselman</div>
    <div class="date-write">3 hours ago</div>
    <div class="comment-text">Hello Ray, what a great job! awesome, keep up the fire!!</div>
  </div>
</div>
<div class="comment">
  <div class="commenter-photo">
    <img src="https://secure.gravatar.com/avatar/428167a3ec72235ba971162924492609?s=…i.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&s=40"/>
  </div>  
  <div class="comment-content">
    <div class="commenter"><span class="commenter-name">Scott Hanselman</span> / shanselman</div>
    <div class="date-write">3 hours ago</div>
    <div class="comment-text">Hello Ray, what a great job! awesome, keep up the fire!!</div>
  </div>
</div>
<div class="comment">
  <div class="commenter-photo">
    <img src="https://secure.gravatar.com/avatar/af19ab2bc64a6df17b1db58005424473?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&s=40"/>
  </div>  
  <div class="comment-input-wrapper">
    <textarea name="comment-input" id="comment-input" rows='4' style='line-height:1; font-size: 120%; width: 100%'></textarea>
  </div>
</div>
