<div class="create-gist-container">
	<div class="gists">
		<div class="gists-description-container">
			<textarea class="gists-description" placeholder="Gist description"></textarea>
		</div>
	</div>

	<!-- item view -->
	
	<div class="gist-file-list" id='gist-item-container'>

	</div>

	<!-- <div class="file">
		<div class="meta" style="border-botton:1px solid #000; height:26px;">
			<div class="name">
				<input placeholder="name this file..." />
			</div>
		</div>
		<div class="gist-contents">
			<div id="editor" class="ace-editor">
				
			</div>
		</div>
	</div> -->




	<!-- item view -->

</div>