<div class="create-gist-container">
	<div class="gists">
		<div class="gists-description-container">
			<textarea class="gists-description" placeholder="Gist description"></textarea>
		</div>
	</div>
	
	<div class="gist-file-list" id='gist-item-container'>

	</div>
	<div>
			<div class="add-btn-wrap">
				<a href="#" id="add-file" class="btn">Add Another File</a>
			</div>
			<div class="save-btn-wrap">
				<a href="#" id="" class="btn create-secrete-gist">Create secret gist</a>
				<a href="#" id="" class="btn btn-primary create-public-gist" >Create public gist</a>
			</div>
	</div>
	
	

	
</div>