<div class="file">
	<div class="meta" style="border-botton:1px solid #000; height:37px;">
		<div class="name">
				<input class="file-name" placeholder="name this file..." />	

				<select class="selectpicker file-extension-name">
				    <option value='txt'>Text</option>
				    <option value='c'>C</option>
				    <option value='cs'>C#</option>
				    <option value='cpp'>C++</option>
				    <option value='html'>HTML</option>
				    <option value='java'>Java</option>
				    <option value='js'>JavaScript</option>
				  </select>

				<a href="#" class='icon-trash btn-delete'></a>
		</div>
	</div>
	<div class="gist-contents">
		<div id="editor" class="ace-editor">
			
		</div>
	</div>
</div>