<div class="file">
	<div class="meta" style="border-botton:1px solid #000; height:37px;">
		<div class="name">
				<input class="file-name" placeholder="name this file..." />	
				<!-- <select class="span2">
					<option>javascript</option>
					<option>c</option>
					<option>c#</option>
				</select> -->

				<!-- <div class="btn-group">
				  	<a class="btn dropdown-toggle file-extension-name" data-toggle="dropdown" href="#">
				    	Text
				    	<span class="caret"></span>
				  	</a>
					<ul class="dropdown-menu file-extension-list ">
						<li><a class="file-extension" href="#">Text</a></li>
						<li><a class="file-extension" href="#">C</a></li>
						<li><a class="file-extension" href="#">C++</a></li>
						<li><a class="file-extension" href="#">HTML</a></li>
						<li><a class="file-extension" href="#">Java</a></li>
						<li><a class="file-extension" href="#">JavaScript</a></li>
						<li><a class="file-extension" href="#">Objective-C</a></li>
						<li><a class="file-extension" href="#">PHP</a></li>
						<li><a class="file-extension" href="#">SQL</a></li>
					</ul>
				</div>
 -->


				<select class="selectpicker file-extension-name">
				    <option>Text</option>
				    <option>C</option>
				    <option>C#</option>
				    <option>C++</option>
				    <option>HTML</option>
				    <option>Java</option>
				    <option>JavaScript</option>
				  </select>

				<a href="#" class='icon-trash btn-delete'></a>
		</div>
	</div>
	<div class="gist-contents">
		<div id="editor" class="ace-editor">
			
		</div>
	</div>
</div>