<div class="file">
	<div class="meta" style="border-botton:1px solid #000; height:37px;">
		<div class="name">
				<input class="file-name" placeholder="name this file..." />	

				<select class="selectpicker file-extension-name">
				    <option value='txt'>Text</option>
				    <option value='c'>C</option>
				    <option value='cs'>C#</option>
				    <option value='cpp'>C++</option>
				    <option value='clj'>Clojure</option>
				    <option value='coffee'>CoffeeScript</option>
				    <option value='lisp'>Common Lisp</option>
				    <option value='css'>CSS</option>
				    <option value='diff'>Diff</option>
				    <option value='emacs'>Emacs Lisp</option>
				    <option value='erl'>Erlang</option>
				    <option value='hs'>Haskell</option>
				    <option value='html'>HTML</option>
				    <option value='java'>Java</option>
				    <option value='js'>JavaScript</option>
				    <option value='lua'>Lua</option>
				    <option value='mm'>Objective-C</option>
				    <option value='perl'>Perl</option>
				    <option value='php'>PHP</option>
				    <option value='py'>Python</option>
				    <option value='rb'>Ruby</option>
				    <option value='scala'>Scala</option>

				    <option value='m'>Matlab</option>
				    <option value='cl'>OpenCL</option>
				    
				    
				    
				    <option value='sql'>SQL</option>
				    <option value='asp'>ASP</option>
				    <option value='vb'>Visual Basic</option>
				    <option value='less'>Less</option>

				  </select>

				<a href="#" class='icon-trash btn-delete'></a>
		</div>
	</div>
	<div class="gist-contents">
		<div id="editor" class="ace-editor">
			
		</div>
	</div>
</div>