<div id="pivot" class="carousel slide">
  <div class="pivot-headers">
    {{#fileNames items}}
    {{/fileNames}}
  </div>
  <div class="carousel-inner">
  {{#each items}}
    {{#if isActive}}
      <div class="item active">
    {{else}}
      <div class="item">
    {{/if}}
    {{#if isMarkdown}}
      <pre class="prettyprint">{{{file_content}}}</pre>
    {{else}}
      {{#if isImage}}
        <pre><img src="{{raw_url}}" /></pre>
      {{else}}
        <pre class="prettyprint">{{file_content}}</pre>
      {{/if}}
    {{/if}}      
    </div>    
  {{/each}}
  </div>
</div>
