<!-- <div class="btn-command-wrapper btn-reload">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light icon-stack-base"></i>
    <i class="icon-refresh "></i>        
  </span>
  <div class="lbl-command">Reload</div>
</div> -->

<div class="btn-command-wrapper tag">
  <span class="icon-stack btn-command">
    <i class="icon-circle  icon-light  icon-stack-base"></i>
    <i class="icon-tag "></i>        
  </span>
  <div class="lbl-command">Tag</div>
</div>

<div class="btn-command-wrapper ">
  <span class="icon-stack btn-command btn-star">
    <i class="icon-circle icon-light  icon-stack-base"></i>
    <i class="icon-star"></i>        
  </span>
  <div class="lbl-command">Star</div>
  <span class="label label-success starred-success"></span>
</div>

<div class="btn-command-wrapper btn-comments" data-toggle="tooltip" data-original-title="You can use [LEFT/RIGHT ARROW] key to see Comments.">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light  icon-stack-base"></i>
    <i class="icon-comment  "></i>        
  </span>
  <div class="lbl-command">Comments</div>
  <span class="badge badge-important comments-badge hide-comments-badge"></span>
</div>

<div class="btn-command-wrapper btn-chats">
  <span class="icon-stack btn-command">
    <i class="icon-circle  icon-light  icon-stack-base"></i>
    <i class="icon-group "></i>        
  </span>
  <div class="lbl-command">Join Chat</div>
  <span class="badge chats-badge"></span>
</div>

<div class="btn-command-wrapper btn-share">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light   icon-stack-base"></i>
    <i class="icon-share-alt "></i>        
  </span>
  <div class="lbl-command">Share</div>
</div>

<div class="btn-command-wrapper btn-delete-gist">
  <span class="icon-stack btn-command">
    <i class="icon-circle  icon-light  icon-stack-base"></i>
    <i class="icon-remove "></i>        
  </span>
  <div class="lbl-command">Delete</div>
  <span class="badge chats-badge"></span>
</div>

<div class="btn-command-wrapper btn-edit-gist">
  <span class="icon-stack btn-command">
    <i class="icon-circle  icon-light  icon-stack-base"></i>
    <i class="icon-edit"></i>        
  </span>
  <div class="lbl-command">Edit</div>
  <span class="badge chats-badge"></span>
</div>

<div class="btn-command-wrapper support-gistcamp">
  <span>Please, Support GistCamp by Tweeting</span>
</div>

<div class="btn-command-wrapper sns">
  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://gistcamp.com" data-counturl="http://gistcamp.com" data-hashtags="gistcamp" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!-- popup hidden content -->
<div class="tag-area" style="display:none;"></div>
<div class="share-area" style="display:none;">
  <div class="share-popup">
    <ul>
      <li>
        <span class="share-icon-holder">
          <i class="icon-retweet"></i>
        </span>
        <a href="#" class="share-with-others">Share with others</a>
      </li>
      
      <li>
        <span class="share-icon-holder">
          <img src="images/evernote.png" class="evernote-icon" />
        </span>
        <a href="#" class="share-evernote">Evernote</a>
        <span class="pull-right saved saved-hidden">Saved</span>
      </li>

      <li>
        <span class="share-icon-holder">
          <img src="images/pocket.png" class="pocket-icon" />
        </span>
        <a href="#" class="share-pocket">Pocket</a>
      </li>
      
      <li>
        <span class="share-icon-holder">
          <i class="icon-google-plus-sign"></i>
        </span>
        <a href="#" class="share-google">Google+</a>        
      </li>
      
      <li>
        <span class="share-icon-holder">
          <i class="icon-twitter-sign"></i>
        </span>
        <a href="#" class="share-twitter">Twitter</a>
      </li>
      
      <li>
        <span class="share-icon-holder">
          <i class="icon-facebook-sign"></i>
        </span>
        <a href="#" class="share-facebook">Facebook</a>
      </li>      
      
      <li>
        <span class="share-icon-holder">
          <i class="icon-linkedin-sign"></i>
        </span>
        <a href="#" class="share-linkedin">LinkedIn</a>
      </li>
    </ul>
  </div>
</div>

<div id="share-input-popup" style="display:none">
  Enter the name of the user you want to share.
  <br />
  <br />
  <input id="sharedUsers" style="width:200px;margin-right:5px;" />
  <input id="btnGistShare" type="button" value="Share" class="btn" />
</div>



