<div class="btn-command-wrapper btn-reload">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light icon-stack-base"></i>
    <i class="icon-refresh"></i>        
  </span>
  <div class="lbl-command">Reload</div>
</div>

<div class="btn-command-wrapper tag">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light icon-stack-base"></i>
    <i class="icon-tag"></i>        
  </span>
  <div class="lbl-command">Tag</div>
</div>

<div class="btn-command-wrapper btn-star">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light icon-stack-base"></i>
    <i class="icon-star-empty"></i>        
  </span>
  <div class="lbl-command">Star</div>
  <span class="label label-success starred-success">Starred Successfully</span>
</div>

<div class="btn-command-wrapper btn-comments" data-toggle="tooltip" data-original-title="You can use [LEFT/RIGHT ARROW] key to see Comments.">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light icon-stack-base"></i>
    <i class="icon-comment"></i>        
  </span>
  <div class="lbl-command">Comments</div>
  <span class="badge badge-success comments-badge"></span>
</div>

<div class="btn-command-wrapper btn-chats">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light icon-stack-base"></i>
    <i class="icon-edit"></i>        
  </span>
  <div class="lbl-command">Join Chat</div>
  <span class="badge chats-badge"></span>
</div>

<div class="btn-command-wrapper btn-gp">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light icon-stack-base"></i>
    <i class="icon-google-plus"></i>        
  </span>
  <div class="lbl-command">Google</div>
</div>

<div class="btn-command-wrapper btn-fb">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light icon-stack-base"></i>
    <i class="icon-facebook"></i>        
  </span>
  <div class="lbl-command">Facebook</div>
</div>

<div class="btn-command-wrapper btn-tw">
  <span class="icon-stack btn-command">
    <i class="icon-circle icon-light icon-stack-base"></i>
    <i class="icon-twitter"></i>        
  </span>
  <div class="lbl-command">Twitter</div>
</div>