<div class="gist-item">
  <div class="span3">
    <img src="{{user.avatar_url}}"/>
    <button data-loading-text="..." class="btn btn-danger follow-user">{{#if user.is_following_this_user}}Unfollow{{else}}Follow{{/if}}</button>
  </div>
  <div class="span9">
    <div class="detail">
      <div class="title">{{user.login}} / {{mainFileName files}}</div>
      <div class="subtitle">
        <span>{{fromNow created_at}}</span>     
      </div>
      <p class="gist-item-description">{{description}}</p>      
      <div class="tags pull-left">{{{tagList tags}}}</div>
    </div>
  </div>  
</div>