<div class="container-fluid">  
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>          
<span class="brand" href="#"><img src="images/logo_gray.gif" class="logo" />GistCamp</span>
<div class="nav-collapse collapse">
  <ul class="nav">            
    <li><a href="#mygists"><i class="icon-archive"></i>&nbsp;My Gists</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#friends"><i class="icon-user"></i>&nbsp;Friends</a></li>
    <li class="divider-vertical"></li>    
    <li><a href="#starred"><i class="icon-star"></i>&nbsp;Starred</a></li>
    <li class="divider-vertical"></li>
    <li class="dropdown">
      <a href="#tagged" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tag"></i>&nbsp;Tagged <b class="caret"></b></a>
      <ul class="dropdown-menu">
        {{#unless items}}
        <li><a href="#">No tag yet, You can crate tag using the tag button on the bottom</a></li>        
        {{/unless}}
        {{#each items}}        
        <li><a href="#tagged/{{_id}}/{{tag_url}}"><span class="pull-left">{{tag_name}}</span><span class="badge badge-inverse pull-right">{{countGists gists}}</span></a></li>        
        <li class="divider"></li>
        {{/each}}
      </ul>
    </li>
    <li class="divider-vertical"></li>            
    <li><a href="#all"><i class="icon-github-alt"></i>&nbsp;All</a></li>
    <li class="divider-vertical"></li>            
    <li><a href="#newgist"><i class="icon-plus"></i>&nbsp;New</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#chat"><i class="icon-keyboard"></i>&nbsp;Chats</a></li>
    <li class="divider-vertical"></li>    
 </ul>
 <ul class="nav pull-right">
   <li><a href="#" id="loggedin-user-name"></a></li>
   <li class="dropdown">
    <a href="#" class="gravatar-img dropdown-toggle" data-toggle="dropdown"><img class="loggedin-user-avatar" ></a>
    <ul class="dropdown-menu">
      <li><a href="/logout"><i class="icon-signout"></i>&nbsp;&nbsp;Signout</a></li>
      <li class="divider"></li>
      <li><a href="#" class="loggedin-user-url"><i class="icon-github"></i>&nbsp;&nbsp;Github Profile</a></li>
    </ul>
  </li>
 </ul>
</div>
</div>