<div class="container-fluid">  
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>          
<a class="brand" href="#"><i class="icon-github"></i>&nbsp;GistCamp</a>
<div class="nav-collapse collapse">
  <ul class="nav">            
    <li><a href="#"><i class="icon-user"></i>&nbsp;Following</a></li>
    <li class="divider-vertical"></li>
    <li class="active"><a href="#"><i class="icon-archive"></i>&nbsp;My Gists</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#"><i class="icon-star-empty"></i>&nbsp;Starred</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#"><i class="icon-code-fork"></i>&nbsp;Forekd</a></li>
    <li class="divider-vertical"></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tag"></i>&nbsp;Tagged <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Important<span class="badge badge-inverse pull-right">16</span></a></li>
        <li class="divider"></li>
        <li><a href="#">JavaScript<span class="badge badge-inverse pull-right">5</span></a></li>
        <li class="divider"></li>
        <li><a href="#">CoffeeScript<span class="badge badge-inverse pull-right">4</span></a></li>
        <li class="divider"></li>
        <li><a href="#">Knockout<span class="badge badge-inverse pull-right">7</span></a></li>
        <li class="divider"></li>
        <li><a href="#">Backbone<span class="badge badge-inverse pull-right">20</span></a></li>
        <li class="divider"></li>
        <li><a href="#">Ember.js<span class="badge badge-inverse pull-right">3</span></a></li>
        <li class="divider"></li>
        <li><a href="#">Node.js<span class="badge badge-inverse pull-right">1</span></a></li>
        <li class="divider"></li>
        <li><a href="#">express.js<span class="badge badge-inverse pull-right">8</span></a></li>
      </ul>
    </li>
    <li class="divider-vertical"></li>            
    <li><a href="#"><i class="icon-plus"></i>&nbsp;New Gist</a></li>
    <li class="divider-vertical"></li>
 </ul>
 <ul class="nav pull-right">
   <li><a href="#">Ray Kwon</a></li>
   <li class="dropdown"><a href="#" class="gravatar-img dropdown-toggle" data-toggle="dropdown"><img src="https://secure.gravatar.com/avatar/af19ab2bc64a6df17b1db58005424473?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&s=42"></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-exit"></i>&nbsp;&nbsp;Signout</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="icon-github"></i>&nbsp;&nbsp;Github Profile</a></li>
    </ul>
  </li>
 </ul>
</div>
</div>